header
	background rgba(black,0.8)
	color white
	position relative
	overflow hidden
	
.me
	figure
		margin 1em 0.5em 1em 1em

		img
			width 60px
			border-radius 7px
			
.name
	position absolute
	top 2em
	left 5.5em
	
	strong
		font-size 1.5em
		
	.largo
		display none
		

.share
	iframe
		position absolute
		width 75px
		height 20px
		
		&:nth-child(1)
			top 1em
			right 0.5em
			
		&:nth-child(2)
			top 2.6em
			right 1em
			
		&:nth-child(3)
			top 4.2em
			right 0.5em
		
		
		
		